body {
  margin-top: 60px;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
h1 {
  text-align: center;
  font-size: 45px;
  margin: 35px 25px;
}
.croissant-paragraphs {
  text-align: center;
}
.website-internal-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.website-internal-links a {
  padding: 25px 15px;
}
p {
  text-align: center;
}
